*{
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  /* position:fixed;
  overflow-y:scroll;
  overflow-x:hidden; */
}
.time{
  color: brown;
}

.map2 {
  position: fixed;
}
.name {
  color: rgb(252, 252, 207);
}
 
.incident {
  color: antiquewhite;
}

.details{
  color: rgb(124, 115, 100);
}

.report-card{
  border: 3px solid rgb(201, 106, 17);
  border-radius: 5px;
  margin: 10;
  padding: 10px;
}


.search-reports{
  padding: 10px;
  font-size: 20px;
  color: azure;

}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    z-index: -2;
  }
  .reports {
    width: 90vw;
    height: 100vh;
  }
}
