
.top{
  margin-top: 100px;
  padding-bottom: 50px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.mission-text{
  width: 400px;
  margin-right: 300px;
  /* padding-right: 100px; */
  color: white;
  text-align: center;
  align-items: center;
}

.mission-text button{
  background-color: #ea330b;
border-radius: 10px;
padding: 5px;
}
.mission-img{
 padding-left: 70px;
}

.mission h1 {
    position: absolute;
   background-color: transparent;
   color: black;
    top: 30%;
    left: 28%;
    transform: translate(-50%, -50%); 
}
.mission p{
    position: absolute;
    background-color: transparent;
    color: black;
    font-weight:800;
    margin-left: 45px;
   width: 500px;
    top: 40%;
    left: 5%;
}
.mission button{
    position: absolute;
border: none;
color:  #003AA4;
padding: 20px;
border-radius: 3px;
    top: 70%;
    left:10%;

}
.container{
  display: flex;
  align-items: center;
}
.img{
  width: 500px;
  height: 395px;
  /* margin-right: 100px; */
  position: relative;
  top: 0;
  left: 0;

}
.img2{
  position: absolute;
 top: 189px;
 left: 900px;
  height: 400px;
  width: 490px;
 
}

.facts{
  width: 400px;
  margin-left: 100px;
   /* text-align: center; */
}

.facts-container{

  margin-top: 200px;
 
}
.gif{
  display: flex;

  /* justify-content: space-between; */
  /* border-bottom: 1px solid white; */
}
.gif img{
  margin-right: 0;
}
.gif p{
  /* margin-left: 10rem; */
  font-size: larger;
  color: white;
  width: 400px; 
  text-align: center;
}
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
 

@media screen and (max-width: 1080px) {
.facts{
    display: flex;
    flex-direction: column;
}
/* .stats{
    display: flex;
    flex-direction: column;
} */
}


