
.modal{
  background-color: rgb(4, 255, 0);
}

.map {
    width: 100vw ;
    height: 90vh;
      position:sticky;
  overflow-x:hidden;
  }
  
  @media screen and (max-width: 1000px) {

    .map{
      height: 100vh;
      width: 95vw;
    }
  }

