

.map {
    width: 100vw ;
    height: 90vh;
      position:sticky;
  overflow-x:hidden;
  }
  .popup-modal .leaflet-popup-content-wrapper {
background-color: black;

  }
 .popup-name {
   color: white;
   font-size: 20px;
   text-align: center;
 }
 .popup-line{
color:white;
font-weight: bold;
text-align: center;
 }

  @media screen and (max-width: 1000px) {

    .map{
      height: 100vh;
      width: 95vw;
    }
  }

